body {
  font-family: 'Montserrat', 'Myraid Pro', sans-serif;
  }

/******Grid Style******/
.container {
  width: 1200px;
  margin: 0 auto;
}

/*******Header******/

header {
  height: 126px;
  margin: 0 auto;
}

header {
  border-bottom: 3px solid #77a466;
}

header h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

header h1 span {
  color: #77a466;
}

header h1 {
  float: left;
  margin: 0;
  padding: 48px 0;
}

header nav {
  float: right;
  padding: 40px 0px;
}

header nav ul li {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  padding: 0px 10px;
}

header nav ul li a{
  color: #77a466;
  text-decoration: none;
}

.top-section,
.bottom-section {
  margin: 0 auto;
  clear: both;
}

.main-image img{
  height: auto;
  float: left;
}

.main-image img {
  border-bottom: 3px solid #77a466;
}
